<% if @authy_qr_code %>
  <%= image_tag @authy_qr_code, :size => '256x256', :alt => I18n.t('authy_qr_code_alt', scope: 'devise') %>
  <p><%= I18n.t('authy_qr_code_instructions', scope: 'devise') %></p>
<% end %>

<%= verify_authy_installation_form do %>
  <legend><%= I18n.t('submit_token_title', scope: 'devise') %></legend>
  <%= text_field_tag :token, "", :autocomplete => "one-time-code", :inputmode => "numeric", :pattern => "[0-9]*", :id => 'authy-token', class: "w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                focus:bg-white focus:outline-none" %>
  <div class="ml-2"><%= authy_request_sms_link %></div>

  <%= submit_tag I18n.t('enable_my_account', scope: 'devise'), :class => 'w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
              px-4 py-3 mt-6' %>
<% end %>